LifeExpectancy.json
[{"id":"eaf6fd7d.cbeb7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a0d9cc8.ae2ba","type":"function","z":"eaf6fd7d.cbeb7","name":"PreToken","func":"global.set(\"data\",msg.payload)\nvar apikey=\"gBSTEVG1nGQFsXmOFBs0QRIPXYK_lE5cVblZKxTFjKSp\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["2612b08e.34e57"]]},{"id":"2612b08e.34e57","type":"http request","z":"eaf6fd7d.cbeb7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":430,"y":300,"wires":[["6ce57368.17672c","b624cdba.4953d"]]},{"id":"a993d42b.6fb8f8","type":"inject","z":"eaf6fd7d.cbeb7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["9a0d9cc8.ae2ba"]]},{"id":"c3489099.d01f1","type":"debug","z":"eaf6fd7d.cbeb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":160,"wires":[]},{"id":"b624cdba.4953d","type":"function","z":"eaf6fd7d.cbeb7","name":"Pre Prediction","func":"var data = global.get('data')\nvar token=msg.payload.access_token\nvar instance_id=\"d50ae4e7-6b61-4d6c-9689-ec866e43145d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Country','Status','Year','Alcohol','percentage expenditure',' HIV/AIDS','Total expenditure','GDP','Population','Income composition of resources','Schooling'], \"values\": [[1,1,data.year,data.alcohol,data.pex,data.hiv,data.tex,data.gdp,data.population,data.icr,data.schooling]]}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":260,"wires":[["c85bdf7a.a715a"]]},{"id":"c85bdf7a.a715a","type":"http request","z":"eaf6fd7d.cbeb7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d50ae4e7-6b61-4d6c-9689-ec866e43145d/deployments/1f24e94c-b691-4768-ba0a-9820a74ba420/online","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":200,"wires":[["8d59ec5d.493a7"]]},{"id":"443316d7.8e4af8","type":"ui_text","z":"eaf6fd7d.cbeb7","group":"f1ff5601.b5bc58","order":3,"width":0,"height":0,"name":"","label":"Life Expectancy Age","format":"{{msg.payload}}","layout":"row-left","x":1360,"y":320,"wires":[]},{"id":"8d59ec5d.493a7","type":"function","z":"eaf6fd7d.cbeb7","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":200,"wires":[["443316d7.8e4af8","c3489099.d01f1"]]},{"id":"ab495769.8c4108","type":"ui_form","z":"eaf6fd7d.cbeb7","name":"","label":"","group":"f1ff5601.b5bc58","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Status","value":"status","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"percentage Expenditure","value":"pex","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"tex","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"population","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","status":"","year":"","alcohol":"","pex":"","hiv":"","tex":"","gdp":"","population":"","icr":"","schooling":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":70,"y":440,"wires":[["9a0d9cc8.ae2ba"]]},{"id":"6ce57368.17672c","type":"debug","z":"eaf6fd7d.cbeb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":400,"wires":[]},{"id":"f1ff5601.b5bc58","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"717e3779.8b6088","order":1,"disp":true,"width":"13","collapse":false},{"id":"717e3779.8b6088","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","disabled":false,"hidden":false}]